/* Coded by canariodev#0001 */


@font-face {
    font-family: fonts420;
    src: url(https://cdn.discordapp.com/attachments/797530806243295272/872501048630194196/BoxedMedium.ttf)
}

html {
	transform: scale(1.1);
}

* {
	font-family: fonts420;
	overflow: hidden;
}

.pos {
	position: relative;
	bottom: 15px;
}

hr {
    border: none;
    background: white;
    width: 300px;
    height: 0.5px;
}


.menu {
	min-width: 330px;
	color: #fff;
	position: absolute;
	padding: 10px;
	background: #030303c2;
	border-radius: 10px;
	-webkit-box-shadow: 10px 9px 42px -5px rgba(0, 0, 0, 0.52);
	-moz-box-shadow: 10px 9px 42px -5px rgba(0, 0, 0, 0.52);
	box-shadow: 10px 9px 42px -5px rgba(0, 0, 0, 0.397);
}

.head {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 10px;
  margin-right: 10px;
}

.menu .head {
	background: #03030300;
	padding-left: 5px;
	text-align: left;
	height: 50px;
	color: #fcf8f8;
	font-weight: 300;
	line-height: 35px;
	font-size: 2.3vh;
}

.menu .menu-items {
	max-height: 525px;
	overflow-y: auto;
	font-weight: 500;
	background: #21212100;
}

.menu .menu-items .menu-item {
	display: block;
	padding: 7px;
	font-size: 14px;
	text-align: left;
	text-indent: 5px;
	margin-top: 5px;
	background: #8181811c;
	color: #fdfdfd;
	border-radius: 5px;
	border: 2px solid #35353500;
}

.menu .menu-items .menu-item.selected {
  background: #ffffff5d;
  border: 1.0px solid #ffffffe1;
  border-radius: 5px;
  color: #ffffffe3;
  -webkit-animation-name: fadeIn; 
  -webkit-animation-duration: 1s;
}

@-webkit-keyframes fadeIn { 
	from { 
		opacity:0; 
		opacity: 1\9;
	} 
	to { 
		opacity:1; 
	} 
}


.head > span {
  position: relative;
  display: inline-block;
}

.head > span::before,
.head > span::after {
  content: "";
  position: absolute;
  top: 52%;
  width: 9999px;
  height: 0.7px;
  background: #ffffff;
}

.head > span::before {
  right: 105%;
  margin-right: 15px;
}

.head > span::after {
  left: 105%;
  margin-left: 15px;
}



.menu.align-left,
.menu.align-top-left,
.menu.align-top,
.menu.align-top-right,
.menu.align-right,
.menu.align-bottom-right,
.menu.align-bottom,
.menu.align-bottom-left,
.menu.align-center {
	
	bottom: 5%;
	right: 6%;

}

::-webkit-scrollbar {
  width: 8px;
  border-left: 4px solid #27273300;
}
::-webkit-scrollbar-track {
  background: #27273300;
  border-left: 4px solid #27273300;
}
::-webkit-scrollbar-thumb {
  background: #1a242d00;
  border-left: 4px solid #27273300;
}
::-webkit-scrollbar-thumb:hover {
  background: #1a242d00;
  border-left: 4px solid #27273300;
}